:root {
    --brand-color: #F8C365;
    --light-brand-color: #EF57F2;
    --text-color:  #000000;
    --light-text-color: #7C7C7C;
    --alert-color:  #EDED00 ;
    --success-color: #67E500;
    --warning-color: #2539EA;
    --error-color: #EA0000;
    --main-background-color : #f8f9fa;
    --light-background-color : #fbfbfb;
    --default-font : Roboto, sans-serif;
    --primary-font : Roboto Condensed, sans-serif;
    --secondary-font : Roboto, sans-serif;
    --default-font-size: 16px;
}

/* Typography Starts here */
*,
html,
body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: var(--primary-font);
}

section{
    border-bottom: none;
    margin-bottom: 25px;
}

footer #footer{
    margin-bottom: 0px;
}

a {   
    color: var(--text-color);
}

a:hover {
    text-decoration: none;
    color: var(--text-color);
}

h1 {
    font-family: var(--primary-font);
    color: var(--brand-color);
    font-size: 4rem;
}
h2 {
    font-family: var(--primary-font);
    color: var(--brand-color);
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.813rem;
    color: var(--text-color);
}

p {
    font-size: 1.2rem;
}

.emphasis {
    font-family: var(--brand-color);
    font-style: italic;
    color: var(--main-brand-color);
}

.constrain-width {
    max-width: 45rem;
    margin: 0 auto;
}

.pill-btn {
    border-radius: 499rem;
}

.rounded-corners {
    border-radius: .3rem;
}

.alt-background {
    background: var(--main-background-color);
}

.btn-primary,
.btn-outline-primary,
.btn-secondary,
.btn-outline-secondary,
.btn-white,
.btn-outline-white,
.btn-success,
.btn-outline-success,
.btn-info,
.btn-outline-info,
.btn-warning,
.btn-outline-warning,
.btn-danger,
.btn-outline-danger {
    font-size: 1rem;
    font-weight: 700;
    border-radius: .3rem;
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-white,
.btn-outline-success,
.btn-outline-info,
.btn-outline-warning,
.btn-outline-danger {
    border-width: .15rem;
}

.btn:focus{
    box-shadow: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    box-shadow: none;
}


.lead {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color)
}

@media(max-width: 767px) {
    .lead {
        font-size: 1.2rem      
    }
  }

/* Typography Ends here */  

/* Theme CSS Starts here */

    /* #hadom(a401b7e7a35180c0) #css starts */
    .headera401b7e7a35180c0 .navbar {
        background-color: #F8C365;
        font-weight: bold
    }
    nav{
        margin-bottom: -25px;
    }

    .headera401b7e7a35180c0 .navbar-light .navbar-nav .nav-link {
        color: black
    }

    .headera401b7e7a35180c0 .logIn {
        color: black
    }

    .headera401b7e7a35180c0 .logIn:hover {
        color: black
    }

    .headera401b7e7a35180c0 #signUp {
        color: white;
        background-color: black;
        font-weight: bold;
        border-radius: 35px
    }

    .headera401b7e7a35180c0 .signUp:hover {
        color: white
    }

    .headera401b7e7a35180c0 .nav-link:hover {
        color: black
    }
    /* #hadom(a401b7e7a35180c0) #css ends */

/* #ablu(a8efe356cab990f31) #css starts  */
.abouta8efe356cab990f31 .Background{
    background-color: #F8C365;
    padding: 40px
}
.abouta8efe356cab990f31 h2{
    font-size: 50px;
    color: #212529;
    font-weight: bold
}
.abouta8efe356cab990f31 .stroke{
    background-color: black;
    color: #CBA360;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    font-style: italic
}
.abouta8efe356cab990f31 .btndecor{
    background-color: #F8C365;
    border: 1px solid black;
    border-radius: 35px;
    padding-right: 15px;
    padding-left: 15px
}
.abouta8efe356cab990f31 .image{
    background-color: #F8C365
}
/* #ablu(a8efe356cab990f31) #css ends  */

/* #cagu(af598102c9dad94e) #css starts  */
    .counteraf598102c9dad94e h2{
        font-size: 2.4em;
        color: #F8C365   
    }
    .counteraf598102c9dad94e h4{
        font-size: 20px;
        color: #777777
    }
    .counteraf598102c9dad94e .h-50{
        margin-top: -60px
    }
    
    .counteraf598102c9dad94e .margin{
        margin-top: 80px;
    }

    @media (min-width: 576px) {
        .counteraf598102c9dad94e .col-md-3{ 
            margin-bottom: 30px;
            text-align: center
         }          
    }
    @media (max-width: 576px) {
        .counteraf598102c9dad94e .col-md-3{ 
            margin-bottom: 30px;
            text-align: center            
         } 
         .counteraf598102c9dad94e .h-50{
            display: none
         }
        }
         @media (max-width: 900px) {
        .counteraf598102c9dad94e .col-md-3{ 
            margin-bottom: 30px;
            text-align: center            
         } 
         .counteraf598102c9dad94e .h-50{
            display: none
         }
    }
    /* #cagu(af598102c9dad94e) #css ends  */

/* #argen(a15134dac994b1360) #css starts  */
.abouta15134dac994b1360 h2{
    font-size: 40px;
    color: #000000;
    line-height: 1.5
}
.abouta15134dac994b1360 .stroke{
    background-color: #F8C365;
    color: #000000;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    border: 2px solid black;
    font-style: italic
}


/* #argen(a15134dac994b1360) #css ends  */

    /* #sagnu(ebfcf165e4ae5852) #css starts  */
    .serviceebfcf165e4ae5852 .card-img-top {
        height: 70px;
        width: 70px;
        margin-left: 30px;
        margin-top: 20px
    }

    .serviceebfcf165e4ae5852 .card:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px
    }

    .serviceebfcf165e4ae5852 .card-title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .serviceebfcf165e4ae5852 .Background {
        background-color: #1D1D1D;
        padding: 60px;
        border-radius: 20px;
    }

    .serviceebfcf165e4ae5852 h2 {
        font-size: 45px;
    }

    .serviceebfcf165e4ae5852 .stroke {
        color: #CBA360;
        font-style: italic;
    }
    .serviceebfcf165e4ae5852 .card-text{
        font-size: 16px;
    }

    .serviceebfcf165e4ae5852 .btndecor {
        background-color: #F8C365;
        border-radius: 35px;
        padding-right: 30px;
        padding-left: 30px;
        margin-top: 10px;
    }

    /* #sagnu(ebfcf165e4ae5852) #css ends  */